<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143503165835-168lcfaomik3r9ak4f3t4ht6uo5ektra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143503165835-168lcfaomik3r9ak4f3t4ht6uo5ektra</string>
	<key>API_KEY</key>
	<string>AIzaSyBLdYFanyXAbkE-Sz1JXpIdgs3B_SjuPlc</string>
	<key>GCM_SENDER_ID</key>
	<string>143503165835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clique</string>
	<key>PROJECT_ID</key>
	<string>clique-b7cf3</string>
	<key>STORAGE_BUCKET</key>
	<string>clique-b7cf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143503165835:ios:40bc820b2ed8a4e69b878e</string>
</dict>
</plist>